<h1>Weather in <%= @local_weather.location_name %> </h1>
<p>Temp (F): <%= @local_weather.current_temperature %></p>
<p>Humidity: <%= @local_weather.humidity %></p>

<p>Number of hurricanes: <%= @hurricane_count %></p>
